<p id="notice"><%= notice %></p>

<h1><%= link_to "Pennyfridge", root_path %></h1>


<h2 style="color: #4AC67F; font-size: 34px; line-height: 34px">What's in my frigo ?</h2>
<legend>(écrire au moins un ingrédient)</legend>

<%= form_tag(recipes_path, method: :get) do %>
  <select id="dropdown" name="ingredients[]" multiple="multiple" style="width:50%" placeholder="jambon" class="select2" required></select>
  <br />
  <br />
  <span>Note minimale (entre 1 et 5)</span>
  <input type="number" id="rate" name="rate" min="1" max="5" value=1>
  <br />
  <br />
  <%= submit_tag "Rechercher" %>
  <br />
  <br />
<% end %>



<% if (@recipes.length == 0 && !params[:ingredients].blank?)  %>

  <p class='result-nok'><strong>Aucune recette trouvée. N'y a t'il pas autre chose dans votre frigo ? ;-)</strong></p>

<% else %>

  <table>
    <thead>
      <tr>
        <th>Auteur</th>
        <th>Note</th>
        <th>Ingrédients</th>
      </tr>
    </thead>

    <tbody>

    <% if @recipes %>
      <% if params[:ingredients].blank? %>
        <span style="color:red">Vous n'avez pas renseigné d'ingrédients, voici 50 recettes aléatoires</span>
        <br />
        <br />
      <% else %>
        <p>Pour rappel, mes ingrédients disponibles : <span style="color:green"> <%= params[:ingredients] %> </span></p>
        <p>et je souhaite une note minimale de <span style="color:green"><%= params[:rate] || 1 %> / 5</span><p>
        <p class='result-ok'><%= @recipes.length %> recettes correspondantes</p>
      <% end %>

      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.author %></td>
          <td><%= recipe.rate %></td>
          <td><%= recipe.ingredients %></td>
        </tr>
      <% end %>
    <% end %>

    </tbody>
  </table>
  
<% end %>

<script>
  console.log($( "#dropdown" ).select2({
    tags: true,
    tokenSeparators: [','],
    placeholder: 'jambon',
  }
  ));
</script>