<p id="notice"><%= notice %></p>

<h1>Pennyfridge</h1>


<p>What's in my frigo</p>
<legend>(écrire au moins un ingrédient)</legend>

<%= form_tag(recipes_path, method: :get) do %>
  <select id="dropdown" name="ingredients[]" multiple="multiple" style="width:50%" placeholder="jambon" class="select2" required></select>
  <br />
  <br />
  <span>Note minimale (entre 1 et 5)</span>
  <input type="number" id="rate" name="rate" min="1" max="5" value=1>
  <br />
  <br />
  <%= submit_tag "Rechercher" %>
  <br />
  <br />
<% end %>


<table>
  <thead>
    <tr>
      <th>Auteur</th>
      <th>Note</th>
      <th>Ingrédients</th>
    </tr>
  </thead>

  <tbody>

  <% if params[:ingredients].blank? %>

  <% end %>

  <% if @recipes %>
    <span> Pour rappel, mes ingrédients disponibles : <span> <%= params[:ingredients] %>
    <p><%= @recipes.length %> recettes correspondantes</p>

    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.author %></td>
        <td><%= recipe.rate %></td>
        <td><%= recipe.ingredients %></td>
      </tr>
    <% end %>

  <% else %>
    Pas de recette trouvée :/
  <% end %>
  </tbody>
</table>

<script>
  console.log($( "#dropdown" ).select2({
    tags: true,
    tokenSeparators: [',']
  }
  ));
</script>