<p id="notice"><%= notice %></p>

<h1>Pennyfridge</h1>


<p>What's in my frigo</p>

<%= form_tag(recipes_path, method: :get) do %>
  <select id="dropdown" name="ingredients[]" multiple="multiple" style="width:50%" placeholder="jambon"></select>
  <%= submit_tag "J'ai de la chance" %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Auteur</th>
      <th>Note</th>
      <th>Ingrédients</th>
    </tr>
  </thead>

  <tbody>
  <% if @recipes %>
    <%= @recipes.length %>

    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.author %></td>
        <td><%= recipe.rate %></td>
        <td><%= recipe.ingredients %></td>
      </tr>
    <% end %>

  <% else %>
  <%= @recipes %>
    Pas de recette trouvée :/
  <% end %>
  </tbody>
</table>

<script>
  console.log($( "#dropdown" ).select2({
    tags: true,
    tokenSeparators: [',']
  }
  ));
</script>